body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.blocks div {
	height: 50px;

	background-color: #000;

	position: absolute;
}
.blocks {
	width: 250px;
	height: 550px;

	position: relative;

	margin: 0 auto;
	background: #BBBBBB;

	overflow: hidden;

	transition: background 0.5s;
}

.blocks div.player {
	height: 20px;
	width: 20px;

	background-color: #FF0000;

	position: absolute;

	z-index: 9999;

	bottom: 0;
}